.radio {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #aaa;
    border-radius: 50px;
    appearance: none;
    vertical-align: -6px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0;
}

.radio:checked {
    background-color: #346aff;
    border-color: #346aff;
}

.radio:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
    border-radius: 50%;
    background-color: #eee;
}

.radio:checked:before {
    background-color: #fff;
}
